/* Colors */
:root {
    --TextCol: #ffffff;
    --backCol: #000000;
    --cardBorder: #fff;
    --cardInMansion: #1b2d2e;
    --cardInSpace: #3d3147;
    --cardInParis: #223039;
    --navBar: #412e5d;
    --titles: "Lobster", sans-serif;
    --padCard: 8px;
}

/* Modify to all */
*{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

body {
    background-color: var(--backCol);
    color: var(--TextCol);
    cursor: crosshair;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: larger;
}

/* Main section */
#jsSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jsSec>* {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* H1 removal */
h1 {
    font-size: 0px;
}

/* navbar */
header {
    margin-top: 0px;
    background-color: var(--navBar);
    padding: var(--padCard);
    ul {
        display: flex;
        justify-content: space-around;

        li {
            list-style: none;
        }
    }
}


/* Titles */
h2 {
    font-family:var(--titles);
}

h3 {
    font-family:var(--titles);
}

/* Div touch */
div{
    width: 100%;
    border: 1px solid var(--cardBorder);
    margin-top: 10px;

    img {
        width: 50%;
    }
}

#cssIntroDiv {
    border: none;
}

#id0 {
    background-color: var(--cardInMansion);
}

#id1 {
    background-color: var(--cardInSpace);
}

#id2 {
    background-color: var(--cardInParis);
}

a {
    color: var(--TextCol);
    text-decoration: none;
    font-family:var(--titles);
}
#falseButton{
    border: 1px solid var(--cardBorder);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--navBar);
}
#falseButton:hover{
    transform: scale(1.05);
}
#secTem{
    img{
        width: 24px;
    }
    div{
        padding: var(--padCard);
    }
}

#secAct{
    div{
        padding: var(--padCard);
    }
}
footer{
    display: flex;
    justify-content: center;
    #fA{
        color: var(--TextCol);
        font-family: var(--padCard);
        cursor: crosshair;
    }
}